
*.sketch
*.fig
.idea/workspace.xml

###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################git rm --cached .idea/workspace.xml
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore