
@media only screen and (min-width: 1440px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: unset;
        padding: 55px 165px 0 165px;
        /*overflow-x: hidden;*/
        /*background-color: darkseagreen;*/
        /*padding: 0;*/
    }

    .header {
        width: 1100px;
        margin-bottom: 83px;
    }

    .chunk1 {
        display: flex;
    }

    .intro {
        /*width: 1100px;*/
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .intro__main {
        width: 445px;
        /*justify-content: space-between;*/
        /*justify-content: flex-start;*/
    }

    .intro__img {
        width: 540px;
        /*height: 480px;*/
        border-radius: 20px;
        margin: 0 0 0 125px;
    }

    .square {
        display: unset;
        width: 255px;
        height: 240px;
        background-color: var(--light-grey);
    }

    .square--right {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        align-self: flex-start;
        margin-left: 30px;
    }

    h1 {
        font-size: 56px;
        line-height: 56px;
        margin-bottom: 24px;
    }

    .intro__main p {
        font-size: 18px;
        line-height: 26px;
    }

    .intro__action {
        justify-content: flex-start;
    }

    .btn--orange {
        margin-right: 40px;
    }

    .release-date {
        margin-bottom: 0;
    }

    .chunk2 {
        display: flex;
    }

    .square--left {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        align-self: flex-end;
        margin-right: 30px;
    }

    .intro2 {
        width: 1100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
    }

    .intro2__img {
        margin-top: 0;
    }

    .img--phone {
        width: 255px;
        height: 480px;
        border-radius: 20px;
        margin: 0 30px 0 0;
    }

    .img--glass {
        width: 445px;
        height: 480px;
        border-radius: 20px;
        margin-right: 125px;
    }

    .intro--sub {
        width: 255px;
        text-align: left;
    }

    h2 {
        margin: 0 0 27px 0;
    }

    p {
        text-align: left;
        padding: 0;
    }

    .properties {
        width: 1100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin-top: 168px;
    }

    .properties__unit {
        width: 255px;
    }

    .properties__icon {
        margin: 0 0 48px 0;
    }

    h3 {
        width: 255px;
        height: 56px;
        margin: 0 0 24px 0;
    }

    .copyright-text {
        width: 272px;
        margin-top: 128px;
        margin-bottom: 39px;
    }

}
