/*4. stylesheet.css*/
/*1. kies een schermgrootte -> desktop*/
/*2. reset (optioneel *niet voor mij)*/
/*3. layout: width & flow (flex box) -> *liever geen height als het kan!*/
/*4. fonts & fontsize*/
/*5. padding & margin*/
/*6. kleurtjes*/
/*7. overig*/

:root {
    /*colors*/
    --orange: hsl(22, 89%, 52%);
    --light-orange: hsl(22, 100%, 69%);
    --dark-blue: hsl(220, 50%, 17%);
    --light-blue: hsl(221, 23%, 58%);
    --light-grey: hsl(198, 28%, 93%);
    --white: hsl(0, 0%, 100%);

/*    typography*/
    --font-family: 'Barlow', sans-serif;
    --font-weight-XL: 900;
    --font-weight-S: 500;
    --font-weight-M: bold;

    --font-size-1: 16px;
    --font-size-2: 32px;
    --font-size-3: 48px;

    --line-height-1: 26px;
    --line-height-2: 36px;
    --line-height-3: 48px;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.container {
    font-family: var(--font-family);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: var(--font-weight-XL);
    color: var(--dark-blue);
    text-transform: uppercase;
}

p {
    font-weight: var(--font-weight-S);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    color: var(--light-blue);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 24px;
}

.header__logo {
    width: 40px;
    height: 40px;
    background-color: var(--orange);
}

.header__text {
    font-weight: var(--font-weight-M);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    text-transform: uppercase;
    color: var(--light-grey);
    padding-left: 4px;
}

.btn {
    font-weight: var(--font-weight-M);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    text-transform: uppercase;
    border-radius: 8px;
    border-style: none;
    padding: 11px;
}

.btn--grey {
    background-color: var(--light-grey);
    color: var(--dark-blue);
}

.btn--grey:hover {
    background-color: var(--dark-blue);
    color: var(--light-grey);
}
.introduction {
    display: flex;
    flex-wrap: wrap;
}

.intro__main {
    width: 327px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

h1 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    margin-bottom: 32px;
}

.intro__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.btn--orange {
    background-color: var(--orange);
    color: var(--light-grey);
}

.btn--orange:hover {
    background-color: var(--light-orange);
    color: var(--light-grey);
}

.release-date {
    font-weight: var(--font-weight-S);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    text-transform: uppercase;
    color: var(--light-blue);
}

.img--keyboard {
    width: 372px;
    height: 331px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 64px;
    margin-left: 24px;
}

.square {
    display: none;
}

.intro2__img {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: 24px;
    margin-left: -24px;
}

.img--phone {
    width: 129px;
    height: 193px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 24px;
    /*blend:*/
    background-image: url("./assets/mobile/image-phone-and-keyboard.jpg");
    background-repeat: no-repeat;
    background-color: var(--orange);
    background-blend-mode: multiply;
}

.img--glass {
    width: 220px;
    border-radius: 20px;
}

.intro2__sub {
    text-align: center;
    padding: 75px 24px 0 24px;
}

.properties {
    text-align: center;
    padding: 0 24px;
}

h2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    margin: 0 auto 24px auto;
}

.properties__icon {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-radius: 16px;
    margin: 64px auto 48px auto;
}

h3 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-1);
    margin-bottom: 24px;
}

.properties__unit p {
    margin-bottom: 24px;
}

.copyright-text {
    text-align: center;
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    margin-top: 72px;
}

