@media only screen and (min-width: 768px) {

    .header {
        padding: 40px;
    }

    .introduction {
    }

    .intro1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .intro__main {
        width: 339px;
        padding-left: 0;
        margin-left: 40px;
    }

    .btn {
        padding: 16px 26px;
    }

    .img--keyboard {
        width: 478px;
        height: 425px;
        margin-top: 0;
        margin-left: 69px;
    }

    .intro2 {
        display: flex;
        flex-direction: column;
    }

    .intro2__img {
        align-self: unset;
        margin-top: 40px;
        margin-left: 40px;
    }

    .img--phone {
        width: 214px;
        height: 320px;
        border-radius: 20px;
        margin-right: 30px;
    }

    .img--glass {
        width: 445px;
        height: 320px;
    }

    .intro2__sub {
        width: 100vw;
        display: flex;
        text-align: unset;
        align-items: center;
        padding: 72px 40px 0 40px;
    }

    h2 {
        text-align: left;
        margin: 0 60px 0 0;
    }

    .properties {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: unset;
        margin-top: 142px;
        padding: 0 69px 0 40px;
    }

    .properties__unit {
        width: 281px;
    }

    .properties__icon {
        margin: 64px 0 48px 0;
    }

    h3 {
        margin: 0 24px 24px 0;
    }

    .properties__unit p {
        padding: 0 24px 0 0;
    }
}

